:root {
  --clr-white: 255, 255, 255;
  --clr-accent: 251, 116, 19;
  --clr-text-main: 149, 158, 172;
  --clr-radio-bg: 124, 135, 152;
  --clr-card-bg: 37, 45, 55;
  --clr-body-bg: 18, 20, 23;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

body {
  font-family: "Overpass", sans-serif;
  background: rgb(var(--clr-body-bg));
  color: rgb(var(--clr-text-main));
  font-size: .9rem;
  line-height: 1.25rem;
  width: 100%;
  margin: 0;
  height: 100vh;
}

.card {
  background-color: rgb(var(--clr-card-bg));
  width: 90%;
  border-radius: 1rem;
}

.card-container {
  margin: 1.5rem;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: rgba(var(--clr-radio-bg), 25%);
}

h1 {
  color: rgb(var(--clr-white));
}

/*Radio Button Section */

.radio-button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0;
}

.single-radio-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFF;
  margin: 0;
  font: inherit;
  background: rgba(var(--clr-radio-bg), 25%);
  width: 2.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 1;
  position: inherit;
  cursor: pointer;
}

input[type="radio"]:hover,
input[type="radio"]:focus {
  background: rgb(var(--clr-accent));
}

input[type="radio"]:hover + .form-control,
input[type="radio"]:focus + .form-control {
  color: rgb(var(--clr-white));
}

input[type="radio"]:checked {
  background: rgba(var(--clr-radio-bg), 85%);
}

input[type="radio"]:checked + .form-control {
  color: rgb(var(--clr-white));
}

/*======================*/

button {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: rgb(var(--clr-white));
  background: rgb(var(--clr-accent));
  border: none;
  padding: 1rem 0;
  border-radius: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover,
button:focus {
  background: rgb(var(--clr-white));
  color: rgb(var(--clr-accent));
}
